@import '../../styles/main.scss';


.form-items {
    margin-bottom: var(--spacing-m);

    .dropdown {
        @include sharedFormItem;
        cursor: pointer;

        .label {
            @include label;
            display: block;
        }
    }
}