@import '../../styles/main.scss';

.card {
    margin: var(--spacing-xs);
    box-sizing: border-box;
    border-radius: 8px;
    width: 10rem;

    .header {
        border-radius: 8px 8px 0 0;
        padding: var(--spacing-s);
        height: var(--height-xxs);
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        
        h4 {
            @include heading4;
            text-align: center;
        }
    }

    .body {
        display: flex;
        align-items: center;
        border-radius: 0 0 8px 8px;
        height: var(--height-m);
        padding: var(--spacing-l);
        background-color: var(--color-white);
        box-sizing: border-box;
    }
}